* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* width: 100%; */
}

#stopwatch {
    background: url('assets/background-stopwatch-flash.jpg') center/cover no-repeat;
    padding: 62px;
    border-radius: 8px;
}

#timer {
    background: url('assets/background-timer-flash.gif') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin-bottom: 24px;
    padding: 64px;
    color: #48ff00;
    -webkit-text-stroke: 1px #000000;
}

#actions {
    display: flex;
    gap: 8px;
}

#actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 9px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    background-color: #e0e7ff;
    cursor: pointer;
    color: #ffc800;
    transition: background-color .2s ease-in;
}

#actions button:hover {
    background-color: #ffc800;
    color: #e0e7ff;
}

#marks-list {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#marks-list p{
    color: #48ff00;
    font-size: 20px;
    padding: 5px;
}

#custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('assets/background-mark-alert-flash-reverso.gif') center/cover no-repeat;
    background-size: 100% 100%;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    display: none;
    color: #ffc800;
    -webkit-text-stroke: 0.2px #ffffff;
}

#alert-content {
    display: flex;
    flex-direction: column;
}

#close-alert {
    margin-top: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color:#ffffff;
    border-radius: 4px;
}

#alert-message {
    width: 320px;
}

@media (max-width: 768px) {
    #stopwatch {
        padding: 12px;
    }

    #alert-message {
        width: 290px;
    }
}
